﻿<nav class="navbar is-primary">
    <div class="container">
    <div class="navbar-brand">
          <a class="navbar-item" href="#" style="font-weight:bold;"> Time-Tracker </a>
          <a class="navbar-item" href="#">{{vm.user.firstName}} {{vm.user.lastName}} </a>
          <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
    <div id="navMenu" class="navbar-menu">
    <div class="navbar-end">
            <a href="#" class="navbar-item is-active">Home</a>
            <a href="#!/clients" class="navbar-item">Clients</a>
            <a href="#!/payperiod" class="navbar-item">Pay Period</a>
            <a href="#!/login" class="navbar-item">Logout</a>
          </div>
    </div>
    </div>
 </nav>
 <script type="text/javascript">(function() {
    var burger = document.querySelector('.burger');
    var nav = document.querySelector('#'+burger.dataset.target);
   
    burger.addEventListener('click', function(){
      burger.classList.toggle('is-active');
      nav.classList.toggle('is-active');
    });
  })();
</script>

<h1>Hi {{vm.user.firstName}}!</h1>
<h3>All registered users:</h3>

<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>