<nav class="navbar is-primary">
  <div class="container">
  	<div class="navbar-brand">
      <a class="navbar-item" href="#" style="font-weight:bold;"> Time-Tracker </a>
      <a class="navbar-item" href="#">{{vm.user.firstName}} {{vm.user.lastName}} </a>
      <span class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
      </span>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <a href="#" class="navbar-item">Home</a>
        <a href="#!/clients" class="navbar-item is-active">Clients</a>
        <a href="#!/payperiod" class="navbar-item">Pay Period</a>
        <a href="#!/login" class="navbar-item">Logout</a>
      </div>
    </div>
  </div>
</nav>
<script type="text/javascript">(function() {
  var burger = document.querySelector('.burger');
  var nav = document.querySelector('#'+burger.dataset.target);
  burger.addEventListener('click', function(){
    burger.classList.toggle('is-active');
    nav.classList.toggle('is-active');
  });
   })();
</script>             

&nbsp;
<h1 class="title" style="text-align: center;">List of all Clients</h1>

<div class="columns searchTable" >
  <div class="column is-8">
    <form name="form" method="get"  ng-submit="vm.searchClient()" role="form">
      <div class="field has-addons">
        <p class="control">
          <input type="text" class="input is-small" name="companyName" id="companyName" ng-model="vm.client.search" placeholder="Company name..." required />
        </p>
        <p class="control">
          <button type="submit" class="button is-primary is-small">Search</button>
				</p>
				<p class="control">
					<a ng-click="vm.clearSearch()" class="button is-light is-small">Clear</a>
				</p>
      </div>
    </form>
	</div>
	<div class="column"></div>
	<div class="column">
			<a href="#!/clients/newclient" class="button is-light">Add Entry</a>
		</div>
  <div class="column"></div>
  <div class="column"></div>
</div>

<table class="table is-striped is-narrow is-hoverable">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Hourly Rate</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Website</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="client in vm.allClients">
      <td>{{client.companyName}}</td>
      <td>{{client.rate}}</td>
      <td>{{client.phone}}</td>
      <td>{{client.address}}</td>
      <td>{{client.website}}</td>
      <td><a ng-click="vm.deleteClient(client.id)">Delete</a></td>
    </tr>
  </tbody>
</table>
