<nav class="navbar is-primary">
        <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="#" style="font-weight:bold;">
                    Time-Tracker
              </a>
              <a class="navbar-item" href="#">
                {{vm.user.firstName}} {{vm.user.lastName}}
              </a>
              <span class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
        <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
                <a href="#" class="navbar-item">Home</a>
                <a href="#!/clients" class="navbar-item">Clients</a>
                <a href="#!/payperiod" class="navbar-item is-active">Pay Period</a>
                <a href="#!/login" class="navbar-item">Logout</a>
              </div>
        </div>
        </div>
     </nav>
     <script type="text/javascript">(function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);
       
        burger.addEventListener('click', function(){
            burger.classList.toggle('is-active');
            nav.classList.toggle('is-active');
        });
    })();
    </script>

<form name="form" method="post" ng-submit="vm.addPay()" role="form">
    
    <label class="label is-large has-text-centered">Add New Entry</label>
    <div class="field" ng-class="{ 'has-error': form.client.$dirty && form.client.$error.required }">
        <label class="label" for="client">Company *</label>
        <div class="control">
            <div class="select">
                <select name="client" id="client" ng-model="vm.pay.client" ng-options="item.id as item.companyName for item in vm.clients" ng-change="vm.companyPay()">
                </select>
            </div>
        </div>
        <span ng-show="form.client.$dirty && form.client.$error.required" class="help is-danger">Select a company</span>
    </div>
  

    <div class="field">
        <label class="label" for="duration">Hourly Pay Rate</label>
        <div class="control has-icons-left">
            <input style="max-width:25%;" type="text" name="payRate" id="payRate" class="input" ng-value="payRate" ng-model="vm.pay.payRate" disabled/>
            <span class="icon is-small is-left">
                <i class="fas fa-dollar-sign"></i>
            </span>
        </div>
    </div>

    <div class="field" ng-class="{ 'has-error': form.startDate.$dirty && form.startDate.$error.required && vm.pay.startDate > vm.pay.endDate}">
        <label class="label" for="startDate">Start *</label>
        <div class="control has-icons-left has-icons-right">
            <input type="datetime-local" name="startDate" id="startDate" class="input" ng-model="vm.pay.startDate" ng-change="vm.dateChanged()" required />
            <span class="icon is-small is-left">
                <i class="fas fa-calendar-alt"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-clock"></i>
            </span>
        </div>
        <span ng-show="form.startDate.$dirty && form.startDate.$error.required" class="help is-danger">Start date is required.</span>
        <span ng-show="vm.pay.startDate > vm.pay.endDate" class="help is-danger">Start date cannot be greater than end date.</span>
    </div>

    <div class="field" ng-class="{ 'has-error': form.endDate.$dirty && form.endDate.$error.required && vm.pay.startDate > vm.pay.endDate}">
        <label class="label" for="endDate">End *</label>
        <div class="control has-icons-left has-icons-right">
            <input type="datetime-local" name="endDate" id="endDate" class="input" ng-model="vm.pay.endDate" ng-change="vm.dateChanged()" required />
            <span class="icon is-small is-left">
                <i class="fas fa-calendar-alt"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-clock"></i>
            </span>
        </div>
        <span ng-show="form.endDate.$dirty && form.endDate.$error.required" class="help is-danger">End date is required.</span>
    </div>

    <div class="field">
        <label class="label" for="duration">Duration</label>
        <div class="control has-icons-left">
            <input style="max-width:25%;" type="text" name="duration" id="duration" class="input" ng-value="duration" ng-model="vm.pay.duration" disabled/>
            <span class="icon is-small is-left">
                <i class="far fa-clock"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label" for="break">Break (min)</label>
        <div class="control has-icons-left">
            <input style="max-width:25%;" type="number" name="break" id="break" class="input" min="0" max="300" ng-model="vm.pay.break" ng-init="vm.pay.break = break" ng-change="vm.dateChanged()"/>
            <span class="icon is-small is-left">
                <i class="fas fa-stopwatch"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label" for="note">Notes</label>
        <div class="control">
            <textarea placeholder="Add comments" name="note" id="note" class="textarea" maxlength="200" ng-model="vm.pay.notes" required />
        </div>
    </div>

    <div class="field">
        <input type="hidden" name="username" id="username" ng-model="vm.pay.username" ng-init="vm.pay.username = username"/>
    </div>
    <div class="field is-grouped is-grouped-centered">
        <p class="control">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading || vm.pay.startDate > vm.pay.endDate" class="button is-primary">Create</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </p>
        <p class="control">
            <a href="#!/payperiod" class="button is-light">Back</a>
        </p>
    </div>
</form>